___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright by Pierian Data Inc.</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Inputs and Outputs

**NOTE: Typically we will just be either reading csv files directly or using pandas-datareader to pull data from the web. Consider this lecture just a quick overview of what is possible with pandas (we won't be working with SQL or Excel files in this course)**

## Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

In [4]:
import numpy as np
import pandas as pd

## Check out the references here! 

**This is the best online resource for how to read/write to a variety of data sources!**

https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

----
----

<table border="1" class="colwidths-given docutils">
<colgroup>
<col width="12%" />
<col width="40%" />
<col width="24%" />
<col width="24%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Format Type</th>
<th class="head">Data Description</th>
<th class="head">Reader</th>
<th class="head">Writer</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a></td>
<td><a class="reference internal" href="#io-read-csv-table"><span class="std std-ref">read_csv</span></a></td>
<td><a class="reference internal" href="#io-store-in-csv"><span class="std std-ref">to_csv</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td><a class="reference external" href="https://www.json.org/">JSON</a></td>
<td><a class="reference internal" href="#io-json-reader"><span class="std std-ref">read_json</span></a></td>
<td><a class="reference internal" href="#io-json-writer"><span class="std std-ref">to_json</span></a></td>
</tr>
<tr class="row-even"><td>text</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/HTML">HTML</a></td>
<td><a class="reference internal" href="#io-read-html"><span class="std std-ref">read_html</span></a></td>
<td><a class="reference internal" href="#io-html"><span class="std std-ref">to_html</span></a></td>
</tr>
<tr class="row-odd"><td>text</td>
<td>Local clipboard</td>
<td><a class="reference internal" href="#io-clipboard"><span class="std std-ref">read_clipboard</span></a></td>
<td><a class="reference internal" href="#io-clipboard"><span class="std std-ref">to_clipboard</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Microsoft_Excel">MS Excel</a></td>
<td><a class="reference internal" href="#io-excel-reader"><span class="std std-ref">read_excel</span></a></td>
<td><a class="reference internal" href="#io-excel-writer"><span class="std std-ref">to_excel</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="http://www.opendocumentformat.org">OpenDocument</a></td>
<td><a class="reference internal" href="#io-ods"><span class="std std-ref">read_excel</span></a></td>
<td>&#160;</td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://support.hdfgroup.org/HDF5/whatishdf5.html">HDF5 Format</a></td>
<td><a class="reference internal" href="#io-hdf5"><span class="std std-ref">read_hdf</span></a></td>
<td><a class="reference internal" href="#io-hdf5"><span class="std std-ref">to_hdf</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://github.com/wesm/feather">Feather Format</a></td>
<td><a class="reference internal" href="#io-feather"><span class="std std-ref">read_feather</span></a></td>
<td><a class="reference internal" href="#io-feather"><span class="std std-ref">to_feather</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://parquet.apache.org/">Parquet Format</a></td>
<td><a class="reference internal" href="#io-parquet"><span class="std std-ref">read_parquet</span></a></td>
<td><a class="reference internal" href="#io-parquet"><span class="std std-ref">to_parquet</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://msgpack.org/index.html">Msgpack</a></td>
<td><a class="reference internal" href="#io-msgpack"><span class="std std-ref">read_msgpack</span></a></td>
<td><a class="reference internal" href="#io-msgpack"><span class="std std-ref">to_msgpack</span></a></td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/Stata">Stata</a></td>
<td><a class="reference internal" href="#io-stata-reader"><span class="std std-ref">read_stata</span></a></td>
<td><a class="reference internal" href="#io-stata-writer"><span class="std std-ref">to_stata</span></a></td>
</tr>
<tr class="row-odd"><td>binary</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SAS_(software)">SAS</a></td>
<td><a class="reference internal" href="#io-sas-reader"><span class="std std-ref">read_sas</span></a></td>
<td>&#160;</td>
</tr>
<tr class="row-even"><td>binary</td>
<td><a class="reference external" href="https://docs.python.org/3/library/pickle.html">Python Pickle Format</a></td>
<td><a class="reference internal" href="#io-pickle"><span class="std std-ref">read_pickle</span></a></td>
<td><a class="reference internal" href="#io-pickle"><span class="std std-ref">to_pickle</span></a></td>
</tr>
<tr class="row-odd"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/SQL">SQL</a></td>
<td><a class="reference internal" href="#io-sql"><span class="std std-ref">read_sql</span></a></td>
<td><a class="reference internal" href="#io-sql"><span class="std std-ref">to_sql</span></a></td>
</tr>
<tr class="row-even"><td>SQL</td>
<td><a class="reference external" href="https://en.wikipedia.org/wiki/BigQuery">Google Big Query</a></td>
<td><a class="reference internal" href="#io-bigquery"><span class="std std-ref">read_gbq</span></a></td>
<td><a class="reference internal" href="#io-bigquery"><span class="std std-ref">to_gbq</span></a></td>
</tr>
</tbody>
</table>

-----
----

# Reading in a  CSV
Comma Separated Values files are text files that use commas as field delimeters.<br>
Unless you're running the virtual environment included with the course, you may need to install <tt>xlrd</tt> and <tt>openpyxl</tt>.<br>
In your terminal/command prompt run:

    conda install xlrd
    conda install openpyxl

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

## Understanding File Paths

You have two options when reading a file with pandas:

1. If your .py file or .ipynb notebook is located in the **exact** same folder location as the .csv file you want to read, simply pass in the file name as a string, for example:
    
        df = pd.read_csv('some_file.csv')
        
2. Pass in the entire file path if you are located in a different directory. The file path must be 100% correct in order for this to work. For example:

        df = pd.read_csv("C:\\Users\\myself\\files\\some_file.csv")

#### Print your current directory file path with pwd

In [1]:
pwd

'C:\\Users\\GOLI SHYAM\\Desktop\\[FreeCourseSite.com] Udemy - 2021 Python for Machine Learning & Data Science Masterclass\\1. Introduction to Course\\UNZIP_ME_FOR_NOTEBOOKS\\03-Pandas'

#### List the files in your current directory with ls

In [2]:
ls

 Volume in drive C has no label.
 Volume Serial Number is BCAF-DD67

 Directory of C:\Users\GOLI SHYAM\Desktop\[FreeCourseSite.com] Udemy - 2021 Python for Machine Learning & Data Science Masterclass\1. Introduction to Course\UNZIP_ME_FOR_NOTEBOOKS\03-Pandas

01-06-2021  15:13    <DIR>          .
01-06-2021  15:13    <DIR>          ..
11-02-2021  20:24    <DIR>          .ipynb_checkpoints
11-02-2021  20:25    <DIR>          __pycache__
21-02-2021  20:47           565,390 00-Series.ipynb
08-09-2020  23:29           208,957 01-DataFrames.ipynb
08-09-2020  23:29           194,591 02-Conditional-Filtering.ipynb
28-02-2021  15:04           196,385 03-Useful-Methods.ipynb
02-07-2020  04:02            64,227 04-Missing-Data.ipynb
08-05-2021  15:50           219,627 05-Groupby-Operations-and-MultiIndex.ipynb
08-05-2021  16:04            63,194 06-Combining-DataFrames.ipynb
09-05-2021  10:59            32,972 07-Text-Methods.ipynb
09-05-2021  14:01            93,392 08-Time-Methods.ipynb
01-06-2021  15:13            65,338 09-Inputs-and-Outputs.ipynb
26-09-2020  05:16           101,081 10-Pivot-Tables.ipynb
28-09-2020  02:04            47,135 11-Pandas-Project-Exercise .ipynb
28-09-2020  02:04            52,576 12-Pandas-Project-Exercise-Solution.ipynb
05-07-2020  06:09                51 example.csv
27-09-2020  00:44             5,022 example.xlsx
13-07-2020  01:11        25,112,317 hotel_booking_data.csv
05-07-2020  06:28             5,022 my_excel_file.xlsx
05-07-2020  06:40                51 new_file.csv
27-09-2020  00:35             5,021 new_workbook.xlsx
26-09-2020  05:46                51 newfile.csv
12-07-2020  00:44            52,132 reshaping_pivot.png
03-07-2020  06:26             5,459 RetailSales_BeerWineLiquor.csv
07-07-2020  05:40             1,320 Sales_Funnel_CRM.csv
26-09-2020  23:10             1,330 sample_table.html
05-07-2020  06:40               555 simple.html
28-02-2021  17:13            18,752 tips.csv
              26 File(s)     27,111,948 bytes
               4 Dir(s)  283,952,111,616 bytes free

-----
#### NOTE! Common confusion point! Take note that all read input methods are called directly from pandas with pd.read_  , all output methods are called directly off the dataframe with df.to_

-------

### CSV Input

In [5]:
df = pd.read_csv('example.csv')

In [6]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [7]:
df = pd.read_csv('example.csv',index_col=0)

In [8]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [9]:
df = pd.read_csv('example.csv')

In [10]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### CSV Output

Set index=False if you do not want to save the index , otherwise it will add a new column to the .csv file that includes your index and call it "Unnamed: 0" if your index did not have a name. If you do want to save your index, simply set it to True (the default value).

In [14]:
df.to_csv('new_file.csv',index = True)

## HTML

Pandas can read table tabs off of HTML. This only works if your firewall isn't blocking pandas from accessing the internet!

Unless you're running the virtual environment included with the course, you may need to install <tt>lxml</tt>, <tt>htmllib5</tt>, and <tt>BeautifulSoup4</tt>.<br>
In your terminal/command prompt run:

    conda install lxml
    
    or
    
    pip install lxml
    
Then restart Jupyter Notebook (you may need to restart your computer).
(or use pip install if you aren't using the Anaconda Distribution)

In [15]:
new = pd.read_csv("new_file.csv")
new

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

## read_html

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects. NOTE: This only works with well defined <table> objects in the html on the page, this can not magically read in tables that are images on a page.

In [16]:
tables = pd.read_html('https://en.wikipedia.org/wiki/World_population')

In [17]:
len(tables) #tables

26

### Not Useful Tables
Pandas found 26 tables on that page. Some are not useful:

In [18]:
tables[0]

        World population (millions, UN estimates)[15]  \
                                                    #
0                                                   1
1                                                   2
2                                                   3
3                                                   4
4                                                   5
5                                                   6
6                                                   7
7                                                   8
8                                                   9
9                                                  10
10                                                NaN
11  Notes: .mw-parser-output .reflist{font-size:90...

                                                       \
                      Top ten most populous countries
0                                            China[B]
1                                               India
2                                       United States
3                                           Indonesia
4                                            Pakistan
5                                              Brazil
6                                             Nigeria
7                                          Bangladesh
8                                              Russia
9                                              Mexico
10                                        World total
11  Notes: .mw-parser-output .reflist{font-size:90...

                                                       \
                                                 2000
0                                                1270
1                                                1053
2                                                 283
3                                                 212
4                                                 136
5                                                 176
6                                                 123
7                                                 131
8                                                 146
9                                                 103
10                                               6127
11  Notes: .mw-parser-output .reflist{font-size:90...

                                                       \
                                                 2015
0                                                1376
1                                                1311
2                                                 322
3                                                 258
4                                                 208
5                                                 206
6                                                 182
7                                                 161
8                                                 146
9                                                 127
10                                               7349
11  Notes: .mw-parser-output .reflist{font-size:90...


                                              2030[A]
0                                                1416
1                                                1528
2                                                 356
3                                                 295
4                                                 245
5                                                 228
6                                                 263
7                                                 186
8                                                 149
9                                                 148
10                                               8501
11  Notes: .mw-parser-output .reflist{font-size:90...

### Tables that need formatting

Some will be misaligned, meaning you need to do extra work to fix the columns and rows:

In [19]:
tables[1]

,Continent,Density(inhabitants/km2),Population(millions),Most populous country,Most populous city (metropolitan area)
0,Asia,104.1,4641,"1,439,323,000[note 1] – China","37,393,000/13,929,000 – Greater Tokyo Area/Tok..."
1,Africa,44.4,1340,"0206,139,000 – Nigeria","20,900,000 – Cairo[18]"
2,Europe,73.4,747,"0145,934,000 – Russia;approx. 110 million in E...","16,855,000/12,537,000 – Moscow metropolitan ar..."
3,Latin America,24.1,653,"0212,559,000 – Brazil","22,043,000/12,176,000 – São Paulo Metro Area/S..."
4,Northern America[note 2],14.9,368,"0331,002,000 – United States","23,724,000/8,323,000 – New York metropolitan a..."
5,Oceania,5,42,"0025,499,000 – Australia","4,925,000 – Sydney"
6,Antarctica,~0,0.004[17],N/A[note 3],"1,258 – McMurdo Station"

In [20]:
world_pop = tables[0]

In [21]:
world_pop.columns

MultiIndex([('World population (millions, UN estimates)[15]', ...),
            ('World population (millions, UN estimates)[15]', ...),
            ('World population (millions, UN estimates)[15]', ...),
            ('World population (millions, UN estimates)[15]', ...),
            ('World population (millions, UN estimates)[15]', ...)],
           )

In [23]:
world_pop = world_pop['World population (millions, UN estimates)[15]'].drop('#',axis=1)

In [24]:
world_pop.columns

Index(['Top ten most populous countries', '2000', '2015', '2030[A]'], dtype='object')

In [25]:
world_pop.columns = ['Countries', '2000', '2015', '2030 Est.']
world_pop = world_pop.drop(11,axis=0)

In [26]:
world_pop

        Countries  2000  2015 2030 Est.
0        China[B]  1270  1376      1416
1           India  1053  1311      1528
2   United States   283   322       356
3       Indonesia   212   258       295
4        Pakistan   136   208       245
5          Brazil   176   206       228
6         Nigeria   123   182       263
7      Bangladesh   131   161       186
8          Russia   146   146       149
9          Mexico   103   127       148
10    World total  6127  7349      8501

### Tables that are intact

In [27]:
tables[6]

,Rank,Country,Population,Area(km2),Density(pop/km2),Population trend
0,1,India,1377530000,3287240,419,Growing
1,2,Pakistan,223790000,803940,278,Growing
2,3,Bangladesh,170750000,143998,1186,Rapidly growing
3,4,Japan,126010000,377873,333,Declining[99]
4,5,Philippines,110290000,300000,368,Growing
5,6,Vietnam,96209000,331689,290,Growing
6,7,United Kingdom,66436000,243610,273,Steady
7,8,South Korea,51781000,99538,520,Steady
8,9,Taiwan,23604000,36193,652,Steady
9,10,Sri Lanka,21803000,65610,332,Growing

## Write to html Output

If you are working on a website and want to quickly output the .html file, you can use to_html

In [28]:
df.to_html('simple.html',index=False)

**read_html** is not perfect, but its quite powerful for such a simple method call!

# Excel Files

Pandas can read in basic excel files (it will get errors if there are macros or extensive formulas relying on outside excel files), in general, pandas can only grab the raw information from an .excel file.

#### NOTE: Requires the openpyxl and xlrd library! Its provided for you in our environment, or simply install with:

    pip install openpyxl
    pip install xlrd
    
Heavy excel users may want to check out this website: https://www.python-excel.org/

You can think of an excel file as a Workbook containin sheets, which for pandas means each sheet can be a DataFrame.

## Excel file input with read_excel()

In [31]:
df = pd.read_excel('my_excel_file.xlsx',sheet_name='First_Sheet')

XLRDError: Excel xlsx file; not supported

In [75]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### What if you don't know the sheet name? Or want to run a for loop for certain sheet names? Or want every sheet?

Several ways to do this: https://stackoverflow.com/questions/17977540/pandas-looking-up-the-list-of-sheets-in-an-excel-file

In [76]:
# Returns a list of sheet_names
pd.ExcelFile('my_excel_file.xlsx').sheet_names

['First_Sheet']

#### Grab all sheets

In [77]:
excel_sheets = pd.read_excel('my_excel_file.xlsx',sheet_name=None)

In [78]:
type(excel_sheets)

dict

In [79]:
excel_sheets.keys()

dict_keys(['First_Sheet'])

In [80]:
excel_sheets['First_Sheet']

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Write to Excel File

In [81]:
df.to_excel('example.xlsx',sheet_name='First_Sheet',index=False)

# SQL Connections

#### NOTE: Highly recommend you explore specific libraries for your specific SQL Engine. Simple search for your database+python in Google and the top results should hopefully include an API.

* [MySQL](https://www.google.com/search?q=mysql+python)
* [PostgreSQL](https://www.google.com/search?q=postgresql+python)
* [MS SQL Server](https://www.google.com/search?q=MSSQLserver+python)
* [Orcale](https://www.google.com/search?q=oracle+python)
* [MongoDB](https://www.google.com/search?q=mongodb+python)

Let's review pandas capabilities by using SQLite, which comes built in with Python.

## Example SQL Database (temporary in your RAM)

You will need to install sqlalchemy with:

    pip install sqlalchemy
    
to follow along. To understand how to make a connection to your own database, make sure to review: https://docs.sqlalchemy.org/en/13/core/connections.html

In [32]:
from sqlalchemy import create_engine

In [33]:
temp_db = create_engine('sqlite:///:memory:')

### Write to Database

In [34]:
tables[6]

,Rank,Country,Population,Area(km2),Density(pop/km2),Population trend
0,1,India,1377530000,3287240,419,Growing
1,2,Pakistan,223790000,803940,278,Growing
2,3,Bangladesh,170750000,143998,1186,Rapidly growing
3,4,Japan,126010000,377873,333,Declining[99]
4,5,Philippines,110290000,300000,368,Growing
5,6,Vietnam,96209000,331689,290,Growing
6,7,United Kingdom,66436000,243610,273,Steady
7,8,South Korea,51781000,99538,520,Steady
8,9,Taiwan,23604000,36193,652,Steady
9,10,Sri Lanka,21803000,65610,332,Growing

In [35]:
pop = tables[6]

In [36]:
pop.to_sql(name='populations',con=temp_db)

### Read from SQL Database

In [37]:
# Read in an entire table
pd.read_sql(sql='populations',con=temp_db)

,index,Rank,Country,Population,Area(km2),Density(pop/km2),Population trend
0,0,1,India,1377530000,3287240,419,Growing
1,1,2,Pakistan,223790000,803940,278,Growing
2,2,3,Bangladesh,170750000,143998,1186,Rapidly growing
3,3,4,Japan,126010000,377873,333,Declining[99]
4,4,5,Philippines,110290000,300000,368,Growing
5,5,6,Vietnam,96209000,331689,290,Growing
6,6,7,United Kingdom,66436000,243610,273,Steady
7,7,8,South Korea,51781000,99538,520,Steady
8,8,9,Taiwan,23604000,36193,652,Steady
9,9,10,Sri Lanka,21803000,65610,332,Growing

In [38]:
# Read in with a SQL Query
pd.read_sql_query(sql="SELECT Country FROM populations",con=temp_db)

          Country
0           India
1        Pakistan
2      Bangladesh
3           Japan
4     Philippines
5         Vietnam
6  United Kingdom
7     South Korea
8          Taiwan
9       Sri Lanka

It is difficult to generalize pandas and SQL, due to a wide array of issues, including permissions,security, online access, varying SQL engines, etc... Use these ideas as a starting off point, and you will most likely need to do your own research for your own situation.