In [71]:
import numpy as np
import pandas as pd

In [72]:
arr = np.array([1,2,3,4,5])
print(arr)
print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [73]:
s = pd.Series([1,2,3,4,5],['A','B','C','D','E'])
print(s)

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [74]:
print(s.tolist())

[1, 2, 3, 4, 5]

In [75]:
#  [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 9])
print(s1+s2)
print(s1-s2)
print(s1*s2)
print(s1/s2)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [76]:
s1>s2

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [77]:
dic = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
s3 = pd.Series(dic)
print(s3)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [78]:
arr1 = np.array([10 ,20, 30, 40, 50])

In [79]:
s4 = pd.Series(arr1)
print(s4)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [80]:
s5 = pd.Series([100,200,'python',300.12, 400])
print(s5)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [81]:
print(pd.to_numeric(s5,errors='coerce'))

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [82]:
df1 = pd.DataFrame({"col1":[1,2,3,4,5],"col2":[6,7,8,9,10],"col3":[11,22,33,44,55]})
print(df1)

   col1  col2  col3
0     1     6    11
1     2     7    22
2     3     8    33
3     4     9    44
4     5    10    55

In [83]:
s6 = df1.iloc[:,0]

In [84]:
type(s6)

pandas.core.series.Series

In [85]:
# 0    [Red, Green, White]
# 1           [Red, Black]
# 2               [Yellow]
s7 = pd.Series([['Red', 'Green', 'White'],['Red','Black'],['Yellow']])
s7

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [86]:
s7 = s7.to_list()
print(s7)

[['Red', 'Green', 'White'], ['Red', 'Black'], ['Yellow']]

In [87]:
li = []
for i in range(len(s7)):
    li.extend(s7[i])
print(li)

['Red', 'Green', 'White', 'Red', 'Black', 'Yellow']

In [88]:
s8 = pd.Series(li)
s8

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [89]:
print(s5)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [90]:
s5.drop(2,inplace=True)

In [91]:
s5 = s5.to_list()

In [92]:
s9 = pd.Series(s5.sort())
print(s9)

Series([], dtype: float64)

C:\Users\SPURUSHO\AppData\Local\Temp\ipykernel_15164\2949045376.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s9 = pd.Series(s5.sort())

In [93]:
s5 = pd.Series([100,200,'python',300.12, 400])
print(s5)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [94]:
s10 = pd.concat([s5,pd.Series([500,'php'])],ignore_index=True)
print(s10)

0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

In [95]:
s11 = pd.Series(x for x in range(1,11))
print(s11)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [96]:
s11[s11>5]

5     6
6     7
7     8
8     9
9    10
dtype: int64

In [97]:
print(s11)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [98]:
s12 = pd.Series([1,2,3,4,5],['A','B','C','D','E'])
print(s12)

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [99]:
s13 = s12.reindex(['B','A','C','D','E'])
print(s13)

B    2
A    1
C    3
D    4
E    5
dtype: int64

In [100]:
s14 = pd.Series([1,2,3,4,5])
s15 = pd.Series([2,4,6,8,10])
print(s14[~s14.isin(s15)])

0    1
2    3
4    5
dtype: int64

In [101]:
print(s14[~s14.isin(s15)])

0    1
2    3
4    5
dtype: int64

In [102]:
print(s15[~s15.isin(s14)])

2     6
3     8
4    10
dtype: int64

In [103]:
print(pd.concat([s14[~s14.isin(s15)],s15[~s15.isin(s14)]],ignore_index=True))

0     1
1     3
2     5
3     6
4     8
5    10
dtype: int64

In [104]:
s16 = pd.Series(list(np.random.randint(1,20,20)))
print(s16.describe())

count    20.000000
mean     11.850000
std       6.098102
min       1.000000
25%       8.000000
50%      13.500000
75%      17.000000
max      18.000000
dtype: float64

In [105]:
res = np.percentile(s16,[0,25,50,70,100])
print(res)

[ 1.   8.  13.5 17.  18. ]

In [106]:
li = list(np.random.randint(1,10,50))
print(li)

[7, 3, 2, 5, 6, 5, 4, 1, 4, 4, 5, 4, 1, 6, 2, 1, 2, 4, 1, 5, 9, 6, 2, 5, 6, 7, 6, 5, 1, 1, 7, 9, 9, 5, 6, 7, 2, 4, 9, 5, 8, 3, 3, 5, 7, 7, 8, 4, 9, 2]

In [107]:
s17 = pd.Series(li)

In [108]:
s17.value_counts()

5    9
4    7
7    6
2    6
6    6
1    6
9    5
3    3
8    2
dtype: int64

In [109]:
s17

0     7
1     3
2     2
3     5
4     6
5     5
6     4
7     1
8     4
9     4
10    5
11    4
12    1
13    6
14    2
15    1
16    2
17    4
18    1
19    5
20    9
21    6
22    2
23    5
24    6
25    7
26    6
27    5
28    1
29    1
30    7
31    9
32    9
33    5
34    6
35    7
36    2
37    4
38    9
39    5
40    8
41    3
42    3
43    5
44    7
45    7
46    8
47    4
48    9
49    2
dtype: int32

In [112]:
s17.value_counts()

5    9
4    7
7    6
2    6
6    6
1    6
9    5
3    3
8    2
dtype: int64

In [116]:
s18 = s17.value_counts()

In [117]:
type(s18)

pandas.core.series.Series

In [118]:
s18.head()

5    9
4    7
7    6
2    6
6    6
dtype: int64

In [137]:
list(s18.index[2:])

[7, 2, 6, 1, 9, 3, 8]

In [138]:
s18.replace(to_replace=list(s18.index[2:]),value='other')

5    other
4    other
7    other
2    other
6    other
1    other
9        5
3    other
8    other
dtype: object

In [139]:
li = np.random.randint(1,20,30)
print(li)

[14 12  6 16 16 15  8  1  2  9 14 15 15  2  3  3  2 15 10  5 13  1  2 16
  7  6 10 17 19  8]

In [140]:
s19 = pd.Series(li)

In [143]:
s19[s19%5 == 0].index

Int64Index([5, 11, 12, 17, 18, 19, 26], dtype='int64')

In [144]:
s19

0     14
1     12
2      6
3     16
4     16
5     15
6      8
7      1
8      2
9      9
10    14
11    15
12    15
13     2
14     3
15     3
16     2
17    15
18    10
19     5
20    13
21     1
22     2
23    16
24     7
25     6
26    10
27    17
28    19
29     8
dtype: int32

In [145]:
s20 = pd.Series(list(np.random.randint(0,20,10)))

In [146]:
s20

0    10
1     5
2    13
3    14
4    13
5    16
6    14
7     4
8    16
9    12
dtype: int32

In [157]:
s19.head()

0    14
1    12
2     6
3    16
4    16
dtype: int32

In [159]:
s19.iloc[s20]

10    14
5     15
13     2
14     3
13     2
16     2
14     3
4     16
16     2
12    15
dtype: int32

In [161]:

s12 = pd.Series(['php','python','java','c#'])

In [172]:
s12.str[0].str.upper()+s12.str[1:-1]+s12.str[-1].str.upper()

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

In [173]:
s12

0       php
1    python
2      java
3        c#
dtype: object

In [175]:
s12.str.len()

0    3
1    6
2    4
3    2
dtype: int64

In [176]:
s22 = pd.Series([1, 3, 5, 8, 10, 11, 15])
s22.diff()

0    NaN
1    2.0
2    2.0
3    3.0
4    2.0
5    1.0
6    4.0
dtype: float64

In [179]:
s22.diff().diff().to_list()

[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

In [ ]:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20

In [180]:
s23 = pd.Series(['01 Jan 2015','10-02-2016','20180307','2014/05/06','2016-04-12','2019-04-06T11:20'])

In [184]:
pd.to_datetime(s23)

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]