In [1]:
import numpy as np
import pandas as pd

In [2]:
arr = np.array([1,2,3,4,5])
print(arr)
print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [3]:
s = pd.Series([1,2,3,4,5],['A','B','C','D','E'])
print(s)

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [4]:
print(s.tolist())

[1, 2, 3, 4, 5]

In [5]:
#  [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 9])
print(s1+s2)
print(s1-s2)
print(s1*s2)
print(s1/s2)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [6]:
s1>s2

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [7]:
dic = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
s3 = pd.Series(dic)
print(s3)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [8]:
arr1 = np.array([10 ,20, 30, 40, 50])

In [9]:
s4 = pd.Series(arr1)
print(s4)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [10]:
s5 = pd.Series([100,200,'python',300.12, 400])
print(s5)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [11]:
print(pd.to_numeric(s5,errors='coerce'))

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [12]:
df1 = pd.DataFrame({"col1":[1,2,3,4,5],"col2":[6,7,8,9,10],"col3":[11,22,33,44,55]})
print(df1)

   col1  col2  col3
0     1     6    11
1     2     7    22
2     3     8    33
3     4     9    44
4     5    10    55

In [13]:
s6 = df1.iloc[:,0]

In [14]:
type(s6)

pandas.core.series.Series

In [15]:
# 0    [Red, Green, White]
# 1           [Red, Black]
# 2               [Yellow]
s7 = pd.Series([['Red', 'Green', 'White'],['Red','Black'],['Yellow']])
s7

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [16]:
s7 = s7.to_list()
print(s7)

[['Red', 'Green', 'White'], ['Red', 'Black'], ['Yellow']]

In [17]:
li = []
for i in range(len(s7)):
    li.extend(s7[i])
print(li)

['Red', 'Green', 'White', 'Red', 'Black', 'Yellow']

In [18]:
s8 = pd.Series(li)
s8

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [19]:
print(s5)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [20]:
s5.drop(2,inplace=True)

In [21]:
s5 = s5.to_list()

In [22]:
s9 = pd.Series(s5.sort())
print(s9)

Series([], dtype: float64)

C:\Users\SPURUSHO\AppData\Local\Temp\ipykernel_3636\2949045376.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s9 = pd.Series(s5.sort())

In [23]:
s5 = pd.Series([100,200,'python',300.12, 400])
print(s5)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [24]:
s10 = pd.concat([s5,pd.Series([500,'php'])],ignore_index=True)
print(s10)

0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

In [25]:
s11 = pd.Series(x for x in range(1,11))
print(s11)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [26]:
s11[s11>5]

5     6
6     7
7     8
8     9
9    10
dtype: int64

In [27]:
print(s11)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [28]:
s12 = pd.Series([1,2,3,4,5],['A','B','C','D','E'])
print(s12)

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [29]:
s13 = s12.reindex(['B','A','C','D','E'])
print(s13)

B    2
A    1
C    3
D    4
E    5
dtype: int64

In [30]:
s14 = pd.Series([1,2,3,4,5])
s15 = pd.Series([2,4,6,8,10])
print(s14[~s14.isin(s15)])

0    1
2    3
4    5
dtype: int64

In [31]:
print(s14[~s14.isin(s15)])

0    1
2    3
4    5
dtype: int64

In [32]:
print(s15[~s15.isin(s14)])

2     6
3     8
4    10
dtype: int64

In [33]:
print(pd.concat([s14[~s14.isin(s15)],s15[~s15.isin(s14)]],ignore_index=True))

0     1
1     3
2     5
3     6
4     8
5    10
dtype: int64

In [34]:
s16 = pd.Series(list(np.random.randint(1,20,20)))
print(s16.describe())

count    20.000000
mean      9.000000
std       7.011269
min       1.000000
25%       3.000000
50%       7.000000
75%      16.250000
max      19.000000
dtype: float64

In [35]:
res = np.percentile(s16,[0,25,50,70,100])
print(res)

[ 1.   3.   7.  15.3 19. ]

In [36]:
li = list(np.random.randint(1,10,50))
print(li)

[9, 7, 8, 2, 9, 6, 7, 7, 3, 6, 5, 8, 1, 7, 3, 8, 4, 1, 9, 5, 6, 6, 2, 9, 3, 6, 8, 8, 8, 3, 2, 4, 4, 1, 6, 1, 3, 8, 6, 1, 5, 8, 1, 7, 8, 6, 8, 2, 9, 1]

In [37]:
s17 = pd.Series(li)

In [38]:
s17.value_counts()

8    10
6     8
1     7
9     5
7     5
3     5
2     4
5     3
4     3
dtype: int64

In [39]:
s17

0     9
1     7
2     8
3     2
4     9
5     6
6     7
7     7
8     3
9     6
10    5
11    8
12    1
13    7
14    3
15    8
16    4
17    1
18    9
19    5
20    6
21    6
22    2
23    9
24    3
25    6
26    8
27    8
28    8
29    3
30    2
31    4
32    4
33    1
34    6
35    1
36    3
37    8
38    6
39    1
40    5
41    8
42    1
43    7
44    8
45    6
46    8
47    2
48    9
49    1
dtype: int32

In [40]:
s17.value_counts()

8    10
6     8
1     7
9     5
7     5
3     5
2     4
5     3
4     3
dtype: int64

In [41]:
s18 = s17.value_counts()

In [42]:
type(s18)

pandas.core.series.Series

In [43]:
s18.head()

8    10
6     8
1     7
9     5
7     5
dtype: int64

In [44]:
list(s18.index[2:])

[1, 9, 7, 3, 2, 5, 4]

In [45]:
s18.replace(to_replace=list(s18.index[2:]),value='other')

8       10
6        8
1    other
9    other
7    other
3    other
2    other
5    other
4    other
dtype: object

In [46]:
li = np.random.randint(1,20,30)
print(li)

[ 6  8 16  8  5  5 12 16  5  3  3 17  8  5 18 16  3  7 15 18  2 11 17 16
  3  8 17 17 15 15]

In [47]:
s19 = pd.Series(li)

In [48]:
s19[s19%5 == 0].index

Int64Index([4, 5, 8, 13, 18, 28, 29], dtype='int64')

In [49]:
s19

0      6
1      8
2     16
3      8
4      5
5      5
6     12
7     16
8      5
9      3
10     3
11    17
12     8
13     5
14    18
15    16
16     3
17     7
18    15
19    18
20     2
21    11
22    17
23    16
24     3
25     8
26    17
27    17
28    15
29    15
dtype: int32

In [50]:
s20 = pd.Series(list(np.random.randint(0,20,10)))

In [51]:
s20

0    14
1     5
2     5
3    13
4     8
5     5
6    18
7    18
8    11
9     8
dtype: int32

In [52]:
s19.head()

0     6
1     8
2    16
3     8
4     5
dtype: int32

In [53]:
s19.iloc[s20]

14    18
5      5
5      5
13     5
8      5
5      5
18    15
18    15
11    17
8      5
dtype: int32

In [54]:

s12 = pd.Series(['php','python','java','c#'])

In [55]:
s12.str[0].str.upper()+s12.str[1:-1]+s12.str[-1].str.upper()

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

In [56]:
s12

0       php
1    python
2      java
3        c#
dtype: object

In [57]:
s12.str.len()

0    3
1    6
2    4
3    2
dtype: int64

In [58]:
s22 = pd.Series([1, 3, 5, 8, 10, 11, 15])
s22.diff()

0    NaN
1    2.0
2    2.0
3    3.0
4    2.0
5    1.0
6    4.0
dtype: float64

In [59]:
s22.diff().diff().to_list()

[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

In [60]:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2347615599.py, line 1)

In [ ]:
s23 = pd.Series(['01 Jan 2015','10-02-2016','20180307','2014/05/06','2016-04-12','2019-04-06T11:20'])

In [ ]:
s24 = pd.to_datetime(s23)

In [ ]:
s24.dt.day.to_list()

[1, 2, 7, 6, 12, 6]

In [ ]:
s24.dt.month.to_list()

[1, 10, 3, 5, 4, 4]

In [ ]:
s24.dt.day_of_year.to_list()

[1, 276, 66, 126, 103, 96]

In [ ]:
s24.dt.weekofyear.to_list()

C:\Users\SPURUSHO\AppData\Local\Temp\ipykernel_15164\2392932688.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  s24.dt.weekofyear.to_list()

[1, 39, 10, 19, 15, 14]

In [ ]:
s24.dt.day_of_week.replace(to_replace={1:"Monday",2:"Tuesday",3:"Wednesday",4:"Thrusday",5:"Friday",6:"Saturday",7:"Sunday"}).to_list()

['Wednesday', 'Saturday', 'Tuesday', 'Monday', 'Monday', 'Friday']

In [61]:
s31 =pd.Series(["Jan 2015","Feb 2016","Mar 2017","Apr 2018","May 2019"])
print(s31)

0    Jan 2015
1    Feb 2016
2    Mar 2017
3    Apr 2018
4    May 2019
dtype: object

In [62]:
pd.to_datetime(s31)

0   2015-01-01
1   2016-02-01
2   2017-03-01
3   2018-04-01
4   2019-05-01
dtype: datetime64[ns]

In [68]:
s32 = pd.Series(["Red","Green","Orange","Pink","Yellow","White"])
s33 = s32.str.split("")

In [69]:
s33

0             [, R, e, d, ]
1       [, G, r, e, e, n, ]
2    [, O, r, a, n, g, e, ]
3          [, P, i, n, k, ]
4    [, Y, e, l, l, o, w, ]
5       [, W, h, i, t, e, ]
dtype: object

In [79]:
def check(li):
    count = 0
    for i in li:
        if i in ['A','a','E','e','I','i','o','O','U','u']:
            count += 1
    # print(count)
    if count >=2:
        return True
    else:
        return False

In [82]:
s34 = np.vectorize(check)(s33)
s33[s34].str.join("")

1     Green
2    Orange
4    Yellow
5     White
dtype: object

In [77]:
check(["G","R","E","E","N"])

2

False