In [1]:
import numpy as np
import pandas as pd

In [2]:
arr = np.array([1,2,3,4,5])
print(arr)
print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [3]:
s = pd.Series([1,2,3,4,5],['A','B','C','D','E'])
print(s)

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [4]:
print(s.tolist())

[1, 2, 3, 4, 5]

In [5]:
#  [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 9])
print(s1+s2)
print(s1-s2)
print(s1*s2)
print(s1/s2)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [6]:
s1>s2

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [7]:
dic = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
s3 = pd.Series(dic)
print(s3)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [8]:
arr1 = np.array([10 ,20, 30, 40, 50])

In [9]:
s4 = pd.Series(arr1)
print(s4)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [10]:
s5 = pd.Series([100,200,'python',300.12, 400])
print(s5)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [11]:
print(pd.to_numeric(s5,errors='coerce'))

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [12]:
df1 = pd.DataFrame({"col1":[1,2,3,4,5],"col2":[6,7,8,9,10],"col3":[11,22,33,44,55]})
print(df1)

   col1  col2  col3
0     1     6    11
1     2     7    22
2     3     8    33
3     4     9    44
4     5    10    55

In [13]:
s6 = df1.iloc[:,0]

In [14]:
type(s6)

pandas.core.series.Series

In [15]:
# 0    [Red, Green, White]
# 1           [Red, Black]
# 2               [Yellow]
s7 = pd.Series([['Red', 'Green', 'White'],['Red','Black'],['Yellow']])
s7

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [16]:
s7 = s7.to_list()
print(s7)

[['Red', 'Green', 'White'], ['Red', 'Black'], ['Yellow']]

In [17]:
li = []
for i in range(len(s7)):
    li.extend(s7[i])
print(li)

['Red', 'Green', 'White', 'Red', 'Black', 'Yellow']

In [18]:
s8 = pd.Series(li)
s8

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [19]:
print(s5)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [20]:
s5.drop(2,inplace=True)

In [21]:
s5 = s5.to_list()

In [22]:
s9 = pd.Series(s5.sort())
print(s9)

Series([], dtype: float64)

C:\Users\SPURUSHO\AppData\Local\Temp\ipykernel_17732\2949045376.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s9 = pd.Series(s5.sort())

In [23]:
s5 = pd.Series([100,200,'python',300.12, 400])
print(s5)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [24]:
s10 = pd.concat([s5,pd.Series([500,'php'])],ignore_index=True)
print(s10)

0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

In [25]:
s11 = pd.Series(x for x in range(1,11))
print(s11)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [26]:
s11[s11>5]

5     6
6     7
7     8
8     9
9    10
dtype: int64

In [27]:
print(s11)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [28]:
s12 = pd.Series([1,2,3,4,5],['A','B','C','D','E'])
print(s12)

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [29]:
s13 = s12.reindex(['B','A','C','D','E'])
print(s13)

B    2
A    1
C    3
D    4
E    5
dtype: int64

In [30]:
s14 = pd.Series([1,2,3,4,5])
s15 = pd.Series([2,4,6,8,10])
print(s14[~s14.isin(s15)])

0    1
2    3
4    5
dtype: int64

In [31]:
print(s14[~s14.isin(s15)])

0    1
2    3
4    5
dtype: int64

In [32]:
print(s15[~s15.isin(s14)])

2     6
3     8
4    10
dtype: int64

In [33]:
print(pd.concat([s14[~s14.isin(s15)],s15[~s15.isin(s14)]],ignore_index=True))

0     1
1     3
2     5
3     6
4     8
5    10
dtype: int64

In [34]:
s16 = pd.Series(list(np.random.randint(1,20,20)))
print(s16.describe())

count    20.000000
mean      9.250000
std       5.757147
min       1.000000
25%       3.750000
50%       9.500000
75%      14.000000
max      18.000000
dtype: float64

In [35]:
res = np.percentile(s16,[0,25,50,70,100])
print(res)

[ 1.    3.75  9.5  14.   18.  ]

In [36]:
li = list(np.random.randint(1,10,50))
print(li)

[7, 6, 5, 4, 3, 4, 8, 1, 1, 5, 5, 1, 7, 9, 8, 9, 5, 1, 9, 6, 5, 8, 3, 6, 2, 7, 1, 8, 4, 9, 9, 2, 4, 3, 7, 8, 5, 6, 6, 5, 2, 6, 8, 4, 6, 2, 9, 9, 1, 5]

In [37]:
s17 = pd.Series(li)

In [38]:
s17.value_counts()

5    8
6    7
9    7
8    6
1    6
4    5
7    4
2    4
3    3
dtype: int64

In [39]:
s17

0     7
1     6
2     5
3     4
4     3
5     4
6     8
7     1
8     1
9     5
10    5
11    1
12    7
13    9
14    8
15    9
16    5
17    1
18    9
19    6
20    5
21    8
22    3
23    6
24    2
25    7
26    1
27    8
28    4
29    9
30    9
31    2
32    4
33    3
34    7
35    8
36    5
37    6
38    6
39    5
40    2
41    6
42    8
43    4
44    6
45    2
46    9
47    9
48    1
49    5
dtype: int32

In [40]:
s17.value_counts()

5    8
6    7
9    7
8    6
1    6
4    5
7    4
2    4
3    3
dtype: int64

In [41]:
s18 = s17.value_counts()

In [42]:
type(s18)

pandas.core.series.Series

In [43]:
s18.head()

5    8
6    7
9    7
8    6
1    6
dtype: int64

In [44]:
list(s18.index[2:])

[9, 8, 1, 4, 7, 2, 3]

In [45]:
s18.replace(to_replace=list(s18.index[2:]),value='other')

5    other
6    other
9    other
8        6
1        6
4        5
7    other
2    other
3    other
dtype: object

In [46]:
li = np.random.randint(1,20,30)
print(li)

[ 2 16  9  5 18 10  3  8 10 13 11  9  2  1  7 15 17  8  6 16  7 19 15 15
  7  8  8 16  7 14]

In [47]:
s19 = pd.Series(li)

In [48]:
s19[s19%5 == 0].index

Int64Index([3, 5, 8, 15, 22, 23], dtype='int64')

In [49]:
s19

0      2
1     16
2      9
3      5
4     18
5     10
6      3
7      8
8     10
9     13
10    11
11     9
12     2
13     1
14     7
15    15
16    17
17     8
18     6
19    16
20     7
21    19
22    15
23    15
24     7
25     8
26     8
27    16
28     7
29    14
dtype: int32

In [50]:
s20 = pd.Series(list(np.random.randint(0,20,10)))

In [51]:
s20

0     5
1     1
2     7
3     0
4    16
5    17
6    15
7    13
8    13
9    10
dtype: int32

In [52]:
s19.head()

0     2
1    16
2     9
3     5
4    18
dtype: int32

In [53]:
s19.iloc[s20]

5     10
1     16
7      8
0      2
16    17
17     8
15    15
13     1
13     1
10    11
dtype: int32

In [54]:

s12 = pd.Series(['php','python','java','c#'])

In [55]:
s12.str[0].str.upper()+s12.str[1:-1]+s12.str[-1].str.upper()

0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

In [56]:
s12

0       php
1    python
2      java
3        c#
dtype: object

In [57]:
s12.str.len()

0    3
1    6
2    4
3    2
dtype: int64

In [58]:
s22 = pd.Series([1, 3, 5, 8, 10, 11, 15])
s22.diff()

0    NaN
1    2.0
2    2.0
3    3.0
4    2.0
5    1.0
6    4.0
dtype: float64

In [59]:
s22.diff().diff().to_list()

[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

In [60]:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (2347615599.py, line 1)

In [ ]:
s23 = pd.Series(['01 Jan 2015','10-02-2016','20180307','2014/05/06','2016-04-12','2019-04-06T11:20'])

In [ ]:
s24 = pd.to_datetime(s23)

In [ ]:
s24.dt.day.to_list()

[1, 2, 7, 6, 12, 6]

In [ ]:
s24.dt.month.to_list()

[1, 10, 3, 5, 4, 4]

In [ ]:
s24.dt.day_of_year.to_list()

[1, 276, 66, 126, 103, 96]

In [ ]:
s24.dt.weekofyear.to_list()

C:\Users\SPURUSHO\AppData\Local\Temp\ipykernel_15164\2392932688.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  s24.dt.weekofyear.to_list()

[1, 39, 10, 19, 15, 14]

In [ ]:
s24.dt.day_of_week.replace(to_replace={1:"Monday",2:"Tuesday",3:"Wednesday",4:"Thrusday",5:"Friday",6:"Saturday",7:"Sunday"}).to_list()

['Wednesday', 'Saturday', 'Tuesday', 'Monday', 'Monday', 'Friday']

In [ ]:
s31 =pd.Series(["Jan 2015","Feb 2016","Mar 2017","Apr 2018","May 2019"])
print(s31)

0    Jan 2015
1    Feb 2016
2    Mar 2017
3    Apr 2018
4    May 2019
dtype: object

In [ ]:
pd.to_datetime(s31)

0   2015-01-01
1   2016-02-01
2   2017-03-01
3   2018-04-01
4   2019-05-01
dtype: datetime64[ns]

In [ ]:
s32 = pd.Series(["Red","Green","Orange","Pink","Yellow","White"])
s33 = s32.str.split("")

In [ ]:
s33

0             [, R, e, d, ]
1       [, G, r, e, e, n, ]
2    [, O, r, a, n, g, e, ]
3          [, P, i, n, k, ]
4    [, Y, e, l, l, o, w, ]
5       [, W, h, i, t, e, ]
dtype: object

In [ ]:
def check(li):
    count = 0
    for i in li:
        if i in ['A','a','E','e','I','i','o','O','U','u']:
            count += 1
    # print(count)
    if count >=2:
        return True
    else:
        return False

In [ ]:
s34 = np.vectorize(check)(s33)
s33[s34].str.join("")

1     Green
2    Orange
4    Yellow
5     White
dtype: object

In [ ]:
check(["G","R","E","E","N"])

2

False

In [ ]:
s34 = pd.Series(list(range(1,11)))
s34

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
s35 = pd.Series([11, 8, 7, 5, 6, 5, 3, 4, 7, 1])
s35

0    11
1     8
2     7
3     5
4     6
5     5
6     3
7     4
8     7
9     1
dtype: int64

In [ ]:
def fun(a,b,count):
    count += (b-a)**2
    return count

In [ ]:
count = 0
for i in range(len(s34)):
    count = fun(s34[i], s35[i],count)
print(count)

272

In [ ]:
def fun(i,s):
    if (s[i-1] < s[i]) and (s[i] > s[i+1]):
        return i

In [ ]:
s36 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
for i in range(1,len(s36)):
    j = fun(i,s36)
    if j is not None:
        print(j)

1
4
8

In [ ]:
s38 = pd.Series(['a','b','c',' ','d','e','f',' ','a','b','c','d','e','f',' ','i','c','d'])
s39 = s38.value_counts()

In [ ]:
s39.value_counts()

2    4
3    3
1    1
dtype: int64

In [ ]:
s40 = pd.Series(pd.date_range("1-1-2019","31-12-2019"))
s40

C:\Users\SPURUSHO\AppData\Local\Temp\ipykernel_3636\1628537542.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  s40 = pd.Series(pd.date_range("1-1-2019","31-12-2019"))

0     2019-01-01
1     2019-01-02
2     2019-01-03
3     2019-01-04
4     2019-01-05
         ...
360   2019-12-27
361   2019-12-28
362   2019-12-29
363   2019-12-30
364   2019-12-31
Length: 365, dtype: datetime64[ns]

In [ ]:
s40.head()

0   2019-01-01
1   2019-01-02
2   2019-01-03
3   2019-01-04
4   2019-01-05
dtype: datetime64[ns]

In [ ]:
s40[s40.dt.day_name() == "Sunday"]

5     2019-01-06
12    2019-01-13
19    2019-01-20
26    2019-01-27
33    2019-02-03
40    2019-02-10
47    2019-02-17
54    2019-02-24
61    2019-03-03
68    2019-03-10
75    2019-03-17
82    2019-03-24
89    2019-03-31
96    2019-04-07
103   2019-04-14
110   2019-04-21
117   2019-04-28
124   2019-05-05
131   2019-05-12
138   2019-05-19
145   2019-05-26
152   2019-06-02
159   2019-06-09
166   2019-06-16
173   2019-06-23
180   2019-06-30
187   2019-07-07
194   2019-07-14
201   2019-07-21
208   2019-07-28
215   2019-08-04
222   2019-08-11
229   2019-08-18
236   2019-08-25
243   2019-09-01
250   2019-09-08
257   2019-09-15
264   2019-09-22
271   2019-09-29
278   2019-10-06
285   2019-10-13
292   2019-10-20
299   2019-10-27
306   2019-11-03
313   2019-11-10
320   2019-11-17
327   2019-11-24
334   2019-12-01
341   2019-12-08
348   2019-12-15
355   2019-12-22
362   2019-12-29
dtype: datetime64[ns]

In [61]:
s41 = pd.Series({'A':1,'B':2,'C':3,'D':4})
s41

A    1
B    2
C    3
D    4
dtype: int64

In [62]:
df = pd.DataFrame(s41)

In [63]:
df

   0
A  1
B  2
C  3
D  4

In [67]:
s42 = pd.Series(s41.index)
print(type(s42))
s42

<class 'pandas.core.series.Series'>

0    A
1    B
2    C
3    D
dtype: object

In [68]:
s41

A    1
B    2
C    3
D    4
dtype: int64

In [69]:
s42

0    A
1    B
2    C
3    D
dtype: object

In [75]:
s41.index = [0,1,2,3]
s41

0    1
1    2
2    3
3    4
dtype: int64

In [76]:
df = pd.DataFrame({"columnA":s41,"columnB":s42})
df

   columnA columnB
0        1       A
1        2       B
2        3       C
3        4       D

In [78]:
s43 = pd.Series([1,2,3,4,5,6,7,8,9])
s44 = pd.Series(['p','q','r','s','t','u','v','w','x'])
df = pd.DataFrame({'columnA':s43,'columnB':s44})
df

   columnA columnB
0        1       p
1        2       q
2        3       r
3        4       s
4        5       t
5        6       u
6        7       v
7        8       w
8        9       x

In [79]:
df = pd.DataFrame({'columnA':s43,'columnB':s44})

In [82]:
pd.concat([s43,s44],axis = 0)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
dtype: object

In [84]:
s45 = pd.Series([1,2,3,4,6,7,8,9])
s46 = pd.Series([1,2,3,4,4,3,8,9])
print(s45==s46)

0     True
1     True
2     True
3     True
4    False
5    False
6     True
7     True
dtype: bool

In [87]:
s45.idxmax()

7

In [88]:
s46.idxmin()

0

In [90]:
mat = [[68.0,  78.0,  84,  86],
       [75.0,  75.0,  94,  97],
       [86.0,   None,  89,  96],
       [80.0,  80.0,  86,  72],
       [None,  86.0,  86,  83]]

df = pd.DataFrame(mat,columns=['A','B','C','D'])
df

      A     B   C   D
0  68.0  78.0  84  86
1  75.0  75.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  86  72
4   NaN  86.0  86  83

In [91]:
s47 = pd.Series([68.0, 75.0, 86.0, 80.0, None])

In [92]:
s47

0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64

In [99]:
df.ne(s47,axis=0)

       A      B     C     D
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True