In [2]:
import numpy as np
import pandas as pd

In [3]:
arr = np.array([1,2,3,4,5])
print(arr)
print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [4]:
s = pd.Series([1,2,3,4,5],['A','B','C','D','E'])
print(s)

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [7]:
print(s.tolist())

[1, 2, 3, 4, 5]

In [9]:
#  [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 9])
print(s1+s2)
print(s1-s2)
print(s1*s2)
print(s1/s2)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [10]:
s1>s2

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [11]:
dic = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
s3 = pd.Series(dic)
print(s3)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [13]:
arr1 = np.array([10 ,20, 30, 40, 50])

In [14]:
s4 = pd.Series(arr1)
print(s4)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [16]:
s5 = pd.Series([100,200,'python',300.12, 400])
print(s5)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [21]:
print(pd.to_numeric(s5,errors='coerce'))

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [24]:
df1 = pd.DataFrame({"col1":[1,2,3,4,5],"col2":[6,7,8,9,10],"col3":[11,22,33,44,55]})
print(df1)

   col1  col2  col3
0     1     6    11
1     2     7    22
2     3     8    33
3     4     9    44
4     5    10    55

In [28]:
s6 = df1.iloc[:,0]

In [30]:
type(s6)

pandas.core.series.Series

In [44]:
# 0    [Red, Green, White]
# 1           [Red, Black]
# 2               [Yellow]
s7 = pd.Series([['Red', 'Green', 'White'],['Red','Black'],['Yellow']])
s7

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [45]:
s7 = s7.to_list()
print(s7)

[['Red', 'Green', 'White'], ['Red', 'Black'], ['Yellow']]

In [46]:
li = []
for i in range(len(s7)):
    li.extend(s7[i])
print(li)

['Red', 'Green', 'White', 'Red', 'Black', 'Yellow']

In [48]:
s8 = pd.Series(li)
s8

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [49]:
print(s5)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [55]:
s5.drop(2,inplace=True)

In [63]:
s5 = s5.to_list()

AttributeError: 'list' object has no attribute 'to_list'

In [62]:
s9 = pd.Series(s5.sort())
print(s9)

Series([], dtype: float64)

C:\Users\SPURUSHO\AppData\Local\Temp\ipykernel_35328\2949045376.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s9 = pd.Series(s5.sort())

In [64]:
s5 = pd.Series([100,200,'python',300.12, 400])
print(s5)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [66]:
s10 = pd.concat([s5,pd.Series([500,'php'])],ignore_index=True)
print(s10)

0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

In [70]:
s11 = pd.Series(x for x in range(1,11))
print(s11)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [72]:
s11[s11>5]

5     6
6     7
7     8
8     9
9    10
dtype: int64

In [73]:
print(s11)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [74]:
s12 = pd.Series([1,2,3,4,5],['A','B','C','D','E'])
print(s12)

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [75]:
s13 = s12.reindex(['B','A','C','D','E'])
print(s13)

B    2
A    1
C    3
D    4
E    5
dtype: int64

In [79]:
s14 = pd.Series([1,2,3,4,5])
s15 = pd.Series([2,4,6,8,10])
print(s14[~s14.isin(s15)])

0    1
2    3
4    5
dtype: int64