In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({'A':[10,20,30],'B':[100,200,300],'C':[1000,2000,3000]})
df

    A    B     C
0  10  100  1000
1  20  200  2000
2  30  300  3000

In [10]:
def fun(a):
    return a*2

In [12]:
df["new_column"] = df.A.apply(fun)
df

    A   B  newcolumn  new_column
0  10  20        100          20
1  20  30        400          40
2  30  10        900          60

In [14]:
df.drop("new_column",axis=1)

    A   B  newcolumn
0  10  20        100
1  20  30        400
2  30  10        900

In [16]:
df["n_c"] = df['A'].apply(lambda x: x*2)
df

    A   B  newcolumn  new_column  n_c
0  10  20        100          20   20
1  20  30        400          40   40
2  30  10        900          60   60

In [17]:
df = df.drop("newcolumn",axis = 1)

In [15]:
def fun1(a,b):
    return a+b

In [19]:
df["n_col"] = df.apply(lambda df : fun1(df['A'],df['B']),axis = 1)

In [20]:
df

    A   B  new_column  n_c  n_col
0  10  20          20   20     30
1  20  30          40   40     50
2  30  10          60   60     40

In [21]:
df["new"] = df.apply(lambda df : df["A"]*df["B"],axis = 1)

In [22]:
df

    A   B  new_column  n_c  n_col  new
0  10  20          20   20     30  200
1  20  30          40   40     50  600
2  30  10          60   60     40  300

In [23]:
df["new1"] = df.apply(lambda df : fun1(df["A"],df["B"]),axis = 1)
df

    A   B  new_column  n_c  n_col  new  new1
0  10  20          20   20     30  200    30
1  20  30          40   40     50  600    50
2  30  10          60   60     40  300    40